.about {
    margin-top: 41%;
    font-family: 'Raleway', italic;

    .about__content {
        .about__content-title {
            font-size: 2.525rem;
            font-weight: 700;
            text-align: center;
        }

        .cards {
            padding:90px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            svg{
                z-index: 3;
                padding:20px;
            }
            .single-card{
                position: relative;
                background-color: $blackColor;
                color:$whiteColor;
                height:34vh;
                padding: 20px;
                font-size:1.1.125rem;
                box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.34);
                h4{
                    font-weight: 400;
                }
                .single-card__bg{
                    position: absolute;
                    z-index: 2;
                    width:100px;
                    height: 100px;
                    background-color: $greenColor ;
                    border-radius: 50px;
                }
                .single-card__title{
                    display: flex;
                    .single-card__title-text{
                        padding:25px 30px 0 20px;
                        h1{
                            font-weight: 600;
                            font-size: 1.225rem;
                        }
                        h4{
                            padding-top:10px;
                            font-size: 1.3rem;
                        }
                    }
                }
                p{
                   padding-top:20px;
                }
            }
        }
    }
}