.examples{
    font-family: 'Raleway', italic;
    color:$whiteColor;
    margin-top:2vh;
    height:1350px;
    background-color: $blackColor;
    .examples__content{
        padding:3.2rem;
        .examples__content-title{
            text-align: center;
            padding:2rem 0 0 1.5rem;
            font-size: 2.5rem;
            font-weight: $middleW;
        }
        .examples__content-text{
            padding:2.725rem 2.725rem 0 2.725rem;
        }
        .examples__content-spacing{
           position: absolute;
           right:60px;
        }
        a{
            background-color: $greenColor;
            padding:20px 55px 20px 55px;
            border-radius: 10px;
            color: $blackColor;
            font-weight: bold;
        }
        .button{
            padding-top:$padding + 580px;
            text-align: center;
        }
    }
}