.footer{
    font-size:0.9rem;
    background-color:$blackColor;
    color:$whiteColor;
    padding:$padding - 10;
    font-weight: $smallW;
    .footer__content{
        @include spaceBetween();
        p{
            margin-left:75px;
        }
        ul{
            display:$displayFlex;
            gap:2rem;
            margin-right:65px;
        }
    }
}