.footer {
    font-size: 0.9rem;
    background-color: $background--color;
    color: $font--color;
    padding: $padding - 0.625rem;
    font-weight: $font-weight--small;

    .footer__content {
        @include spaceBetween();

        p {
            margin-left: 4.6875rem;
        }

        ul {
            display: flex;
            gap: 2rem;
            margin-right: 4.0625rem;
        }
    }
}