.navbar {
    background-color: $color--green;
    height: 42px;
    @include spaceBetween();
    padding: $padding;

    a {
        color: $color--black;
    }

    .navbar__logo {
        @include alignCenter();
        position: relative;
        font-size: 1.7rem;
        margin-left: 4rem;
    }

    .navbar__items {
        @include alignCenter();
        color: $color--black;
        margin-right: 4.5rem;
        font-weight: $font-weight--mid ;
        gap: $gap;

        .navbar__list {
            display: flex;
            gap: $gap;
        }

        .navbar__item-button {
            color: $color--black;
            background-color: $color--white;
            font-weight: $font-weight--large  !important;
            padding: 0.5rem;
        }
    }
}

.hamburger {
    background-color: white;
    padding: 5px;
    display: none;
    cursor: pointer;

    .bar {
        background-color: $color--black;
        display: block;
        width: 25px;
        height: 2px;
        margin: 6px;
        transition: all 0.3s ease-in-out;
    }
}
@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar__list,
    .navbar__item-button {
        z-index: 10;
        position: fixed;
        left: -110%;
        top: 4.375rem;
        gap: 0;
        flex-direction: column;
        background-color: $color--white;
        width: 100%;
        transition: 0.3s;
    }

    .navbar__list-link {
        padding: 1.25rem;
    }

    .navbar__list.active {
        left: 0;
        font-size: 2rem;
        padding: 3rem;
        gap: 4rem !important;
        height: 100%;
    }

    .navbar__item-button.active {
        background-color: #87DE87 !important;
        padding: 2rem !important;
        left: 0;
        width:12rem;
        margin-top: 42.25rem;
        margin-left: 3.125rem;
        font-size: 2rem;
        padding: 3rem;
    }

    .navbar-logo-remove {
        display: none;
    }

    .navbar-bg-color {
        background-color: white;
        transition: all 0.3s ease-in-out;
    }
}
