.navbar {
    background-color: $greenColor;
    height: 42px;
    @include spaceBetween();
    padding: $padding;
    a{
        color:$blackColor;
    }
    .navbar__logo {
        @include alignCenter();
        position: relative;
        font-size: 1.7rem;
        margin-left: 4rem;
        font-weight:  $smallMidW;
        color: $blackColor;
        height: 52px;
        width: 120px;
        h1 {
            z-index: 100;
        }
        .navbar__shadow {
            position: absolute;
            background-color: $whiteColor;
            height: 28px;
            width: 100px;
            bottom: 42%;
        }
        
    }
    .navbar__items {
        @include alignCenter();
        color: $blackColor;
        margin-right: 4.5rem;
        font-weight:$middleW;
        gap: $gap;
        .navbar__list {
            display: $displayFlex;
            gap: $gap;
        }
        .navbar__item-button{
            color: $blackColor;
            background-color: $whiteColor;
            font-weight:$largeW !important;
            padding: 8px;
        }
    }
    
}