.navbar {
    background-color: $color--green;
    height: 42px;
    @include spaceBetween();
    padding: $padding;

    a {
        color: $color--black;
    }

    .navbar__logo {
        @include alignCenter();
        position: relative;
        font-size: 1.7rem;
        margin-left: 4rem;
    }

    .navbar__items {
        @include alignCenter();
        color: $color--black;
        margin-right: 4.5rem;
        font-weight: $font-weight--mid ;
        gap: $gap;

        .navbar__list {
            display: flex;
            gap: $gap;
        }

        .navbar__item-button {
            color: $color--black;
            background-color: $color--white;
            font-weight: $font-weight--large  !important;
            padding: 0.5rem;
        }
    }
}

.hamburger {
    background-color: white;
    padding: 5px;
    display: none;
    cursor: pointer;

    .bar {
        background-color: $color--black;
        display: block;
        width: 25px;
        height: 2px;
        margin: 6px;
        transition: all 0.3s ease-in-out;
    }
}