.hero {
    background-image: url('../img/Rectangle\ 4.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;

    .hero-wrapper {
        padding:11%;
    .hero-section__content {
        border-left: 24px solid $color--green;
        height: 8.5rem;
        width: 25.5rem;
        padding: 1.425rem;
        z-index: 1;
        background-color: $color--black;
        color: $color--white;

        .hero-section__title {
            font-size: 2.5rem;
            font-weight: $font-weight--mid ;
            margin-top: 1.125rem;
            margin-bottom: 1.8rem;

        }

        .hero-section__text {
            font-size: 0.85rem;
            font-weight: 300;
        }

    }
    }

}
@media (max-width:1200px) {
    .hero-section__content{
        padding: 0.5rem !important;
     background-color: yellow;
       width:60px !important;
       height: 60px !important;
    }
    .hero-section__text{
        font-size:5px !important;
    }
    .hero-section__title {
        font-size:15px !important;
    }
}