.hero {
    background-image: url('../img/Rectangle\ 4.png');
    height: 32.3077rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;

    .hero-wrapper {
        padding: 10.215rem 84.3846rem 13.8462rem 10rem;
    }

    .hero-section__content {
        border-left: 24px solid $color--green;
        height: 8.5rem;
        width: 25.5rem;
        padding: 1.425rem;
        z-index: 1;
        background-color: $color--black;
        color: $color--white;

        .hero-section__title {
            font-size: 2.5rem;
            font-weight: $font-weight--mid ;
            margin-top: 1.125rem;
            margin-bottom: 1.8rem;

        }

        .hero-section__text {
            font-size: 0.85rem;
            font-weight: 300;
        }

    }

}