.information {
    height: 100%;
    width: 100%;
    background-color: $color--green;

    a {
        color: $color--black;
    }

    .navbar__logo {
        @include alignCenter();
        position: relative;
        font-size: 3.3rem;
        padding-top: 4rem;
        margin-left: 3.5rem;

    }

    .information__content-flex {
        display: flex;
        margin-top: 2rem;
        font-size: 1.2rem;
        gap: 3rem;

        .single-card {
            margin-left: 5rem;

            h1 {
                font-weight: 500;
                padding-bottom: 0.625rem;
            }

            h2 {
                @include headingFooter();
            }

            li {
                @include listFooter();
            }
        }

        .second-card {
            margin-left: 15rem;

            li {
                @include listFooter();
            }

            h2 {
                @include headingFooter();
                margin-bottom: 0.625rem;
            }
        }

        .second-card_icons {
            display: flex;
            gap: 1.125rem;

            .single-icon {
                @include icons();
                text-align: center;
            }

            h2 {
                @include headingFooter();
            }

            .single-card__bg {
                @include iconBackground();
                @include alignStart();
            }
        }
    }
}