.information {
    height: 350px;
    width: 100%;
    background-color: $greenColor;
    a{
        color:$blackColor;
    }
    .navbar__logo {
        @include alignCenter();
        position: relative;
        font-size: 3.3rem;
        margin-left: 4rem;
        font-weight: 500;
        color: $blackColor;
        height: 52px;
        width: 120px;

        h1 {
            z-index:100;
            margin:150px 0 0 10px;
        }

        .navbar__shadow {
            position: absolute;
            background-color: $whiteColor;
            height: 58px;
            width: 200px;
            right:-73%;
            bottom: -100%;
        }
    }
    .information__content-flex{
        display:$displayFlex;
        margin-top:14vh;
        font-size: 1.2rem;
        gap:5rem;
        .single-card{
            margin-left:5rem;
            h1{
                font-weight: 500;
                padding-bottom: 10px;
            }
            h2{
                @include headingFooter(0.8);
            }
            li{
                @include listFooter();
            }
        }
        .second-card{
            margin-left:12rem;
            li{
                @include listFooter();
            }
            h2{
                @include headingFooter(0.9);
            }
        }
        .second-card_icons{
            margin-left:12rem;
            
                .facebook-icon{
                    @include icons(-2447,329);
                }
                .twitter-icon{
                    @include icons(-2447,269);
                }
                .linkedin-icon{
                    @include icons(-2446,207);
                }
                .youtube-icon{
                    @include icons(-2443,150);
                }
                h2{
                    @include headingFooter(0.9);
                }
                .single-card__bg1{
                   @include iconBackground(0); 
            }
            .single-card__bg2{
                @include iconBackground(60); 
            }
            .single-card__bg3{
                @include iconBackground(120);
            }
            .single-card__bg4{
                @include iconBackground(180);
            }
        }
    }
}