@mixin alignCenter {
    display: flex;
    align-items: center;
}
@mixin alignStart {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
@mixin spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin icons {
    padding: 0.625rem;
    z-index: 4;
}

@mixin iconBackground {
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: $color--black;
    border-radius: $circle;
}

@mixin listFooter() {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
}

@mixin headingFooter {
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 0.4375rem;
}
@mixin breakpoint($bp: 0){
    @media(max-width:$bp){
        @content;
    }
}