
$breakpoint--xs: 374px;
$breakpoint--sm: 768px;
$breakpoint--md: 1280px;
$breakpoint--lg: 1520px;

@include breakpoint-min-max($breakpoint--xs, $breakpoint--sm) {

    .navbar-fixed {
        z-index: 100;
        width: 100%;
        position: fixed;
    }

    .navbar {
        height: 2.125rem !important;
    }

    .navbar__logo {
        margin-left: 1rem !important;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar__list,
    .navbar__item-button {
        font-size: 1.225rem !important;
        z-index: 10;
        position: fixed;
        left: -110%;
        top: 4.375rem;
        flex-direction: column;
        background-color: $color--white;
        width: 100%;
        transition: 0.3s;
    }

    .navbar__list-link {
        padding: 1.25rem;
    }

    .navbar__list.active {
        left: 0;
        font-size: 2rem;
        padding: 3rem;
        gap: 2.5rem !important;
        height: 100%;
    }

    .navbar__item-button.active {
        background-color: #87DE87 !important;
        padding: 2rem !important;
        left: 0;
        width: 7.3rem;
        margin-top: 70vh;
        margin-left: 3.125rem;
        font-size: 2rem;
        padding: 3rem;
    }

    .navbar-logo-remove {
        display: none;
    }

    .navbar-bg-color {
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    .deactivate {
        display: none !important;
    }

    .cards {
        padding: 1.92rem !important;
        display: block !important;

        .single-card {
            min-height: 12rem !important;
            position: relative !important;
            margin-top: 6rem !important;
            font-weight: $font-weight--small  !important;

        }

        .single-card__title-text {
            margin-top: 1rem !important;
        }

        .single-card__title {
            display: block !important;
            text-align: center !important;
        }

        .single-card__bg {
            position: absolute;
            top: -23%;
        }

        .image-wrapper {
            display: flex;
            justify-content: center;
        }
    }

    .hero {
        height: 29.5625rem !important;
        background-position:center;
        .hero-wrapper {
            padding: $padding--reset;
        }
    }

    .hero-section__text {
        font-size: 1rem !important;
        line-height: 1.2rem !important;
    }

    .hero-section__content {
        display: none;
    }

    .hero-responsive {
        display: block;
    }

    .examples {
        width: 100%;
        margin-top: $margin--reset;
        height: 100% !important;

        img {
            max-width: 100%;
            height: auto !important;
            border: none !important;
            border-bottom: 1rem solid $color--green  !important;
        }
    }

    .responsive-image {
        text-align: center;
    }

    .examples__content {
        @include spaceReset();
    }

    .examples__content-title {
        padding: 4rem !important;
    }

    .examples__content-text,
    .examples__content-spacing {
        align-items: center;
        @include spaceReset();
        min-width: 16.25rem !important;
        font-size: 0.8225rem !important;
        flex-wrap: wrap;

        .card {
            justify-content: center;
        }

        .card h1 {
            text-align: center;
            font-size: 1rem !important;
        }

    }

    .card-text {
        padding: 0 1.625rem 1.625rem 1.625rem !important;
    }

    .card-responsive {
        display: flex;
        flex-flow: wrap;
        flex-direction: column-reverse;
    }

    .button {
        display: none;
    }

    //hero//

    //slider
    .slider {
        margin: $margin--reset;

        img {
            width: 100%;
        }
    }

    .fa-arrow-right-long {
        @include arrowBoth();
    }

    .fa-arrow-left-long {
        @include arrowBoth();
    }

    .glide__arrow--right {
        margin-right: $margin--reset;
    }

    .glide__arrow--left {
        margin-left: $margin--reset;
    }

    .contact-form {
        p {
            padding: $padding--reset;
            margin-top: 6vw;
            margin-bottom: 6vw;
        }
    }

    .contact-form__content {
        max-width: 71vw !important;

        form,
        input {
            width: 18.375rem !important;

            a {

                border-radius: 0 !important;
                margin: $margin--reset;
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                outline: #87DE87;
            }
        }
    }

    .information__content {
        .navbar__logo {
            justify-content: center;
            @include spaceReset();
            margin-bottom: 2rem !important;
        }
    }

    .information__content-flex {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: $margin--reset;

        .single-card {
            text-align: center !important;
            margin: $margin--reset;
            width: 100%;
        }

        .second-card {
            text-align: center !important;
            margin: $margin--reset;
            display: block !important;
            width: 100%;
        }
    }

    .second-card_icons {
        justify-content: center;
        margin-bottom: 2rem;
    }

    .footer__content {
        text-align: center;
        flex-direction: column-reverse !important;

        p {
            margin: $margin--reset;
            padding-top: 0.85rem;
        }

        ul {
            margin-right: $margin--reset;
        }
    }
}

@include breakpoint-min-max($breakpoint--sm + 1px, $breakpoint--md ) {
    .single-card {
        min-height: 12.5rem !important;
        min-width: 11.25rem !important;
    }

    .about__content-title {
        margin-bottom: 3rem !important;
    }

    .about .about__content .cards {
        min-height: 80% !important;
        min-width: 80% !important;
        padding: 1rem !important;
        margin-bottom: 5rem !important;
    }

    .examples {
        width: 100%;
        margin-top: $margin--reset;
        height: 100% !important;

        img {
            max-width: 100%;
            height: auto !important;
            border: none !important;
            border-bottom: 1rem solid $color--green  !important;
        }
    }

    .responsive-image {
        text-align: center;
    }

    .examples__content {
        padding: $padding--reset;
    }

    .examples__content-title {
        padding: 4rem !important;
    }

    .examples__content-text,
    .examples__content-spacing {
        @include spaceReset();
        font-size: 0.8225rem !important;
        flex-wrap: wrap;

        .card {
            justify-content: center;
        }

        .card h1 {
            text-align: center;
            font-size: 1rem !important;
        }

    }

    .card-text {
        padding: 0 0 2.625rem 0 !important;
    }

    .card-responsive {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        flex-direction: column-reverse;
    }

    .button {
        display: none;
    }

    .card-text {
        justify-content: center !important;
        max-width: 40rem;
    }

    .information__content {
        .navbar__logo {
            justify-content: center;
            @include spaceReset();
            margin-bottom: 2rem !important;
        }
    }

    .information__content-flex {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        margin-top: $margin--reset;
        gap: 0 !important;

        .single-card {
            text-align: center !important;
            margin: $margin--reset;
            width: 100%;
        }

        .second-card {
            text-align: center !important;
            margin: $margin--reset;
            display: block !important;
            margin-bottom: 2rem !important;
        }
    }

    .second-card_icons {
        justify-content: center;
        margin-bottom: 2rem;
    }

}

@include breakpoint-min-max($breakpoint--md + 1px, $breakpoint--lg) {
    .examples__content {
        .card-text {
            min-width: 26rem !important;
        }

        img {
            max-width: 28.125rem;
        }
    }

    .second-card {
        margin-left: 12vw !important;
    }
}