    $fontSize: 0.8125rem;
    $padding: 1.25rem;
    $color--black: #333333;
    $color--white: #FFFFFF;
    $color--green :#87DE87;
    $gap: 1.125rem;
    $font-weight--small : 400;
    $font-weight--midsmall: 500;
    $font-weight--mid : 600;
    $font-weight--large : 700;
    $circle : 50px;

    // preimenovat colo--black u $background--color-black ili: $
    //$background--color-black: $color--black