@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway';
  font-weight: italic;
  font-size: 13px;
  line-height: 1rem;
}

.navbar {
  background-color: #87DE87;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.navbar a {
  color: #333333;
}

.navbar .navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 1.7rem;
  margin-left: 4rem;
  font-weight: 500;
  color: #333333;
  height: 52px;
  width: 120px;
}

.navbar .navbar__logo h1 {
  z-index: 100;
}

.navbar .navbar__logo .navbar__shadow {
  position: absolute;
  background-color: #FFFFFF;
  height: 28px;
  width: 100px;
  bottom: 42%;
}

.navbar .navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  margin-right: 4.5rem;
  font-weight: 600;
  gap: 1.125rem;
}

.navbar .navbar__items .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.navbar .navbar__items .navbar__item-button {
  color: #333333;
  background-color: #FFFFFF;
  font-weight: 700 !important;
  padding: 8px;
}

.hero {
  position: relative;
}

.hero .hero-picture {
  position: absolute;
  background-image: url("../img/Rectangle 4.png");
  height: 640px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.hero .hero-section__content {
  border-left: 24px solid #87DE87;
  height: 8.5rem;
  width: 25.5rem;
  margin: 11% 60% 10% 10.5%;
  padding: 1.125rem;
  z-index: 1;
  background-color: #333333;
  color: #FFFFFF;
  position: absolute;
}

.hero .hero-section__content .hero-section__title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 1.125rem;
  margin-bottom: 1.8rem;
}

.hero .hero-section__content .hero-section__text {
  font-size: 0.85rem;
  font-weight: 300;
}

.about {
  margin-top: 41%;
}

.about .about__content .about__content-title {
  font-size: 2.525rem;
  font-weight: 700;
  text-align: center;
}

.about .about__content .cards {
  padding: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.about .about__content .cards svg {
  z-index: 3;
  padding: 20px;
}

.about .about__content .cards .single-card {
  position: relative;
  background-color: #333333;
  color: #FFFFFF;
  height: 34vh;
  padding: 20px;
  font-size: 1.1 0.125rem;
  -webkit-box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.34);
          box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.34);
}

.about .about__content .cards .single-card h4 {
  font-weight: 400;
}

.about .about__content .cards .single-card .single-card__bg {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  background-color: #87DE87;
  border-radius: 50px;
}

.about .about__content .cards .single-card .single-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about__content .cards .single-card .single-card__title .single-card__title-text {
  padding: 25px 30px 0 20px;
}

.about .about__content .cards .single-card .single-card__title .single-card__title-text h1 {
  font-weight: 600;
  font-size: 1.225rem;
}

.about .about__content .cards .single-card .single-card__title .single-card__title-text h4 {
  padding-top: 10px;
  font-size: 1.3rem;
}

.about .about__content .cards .single-card p {
  padding-top: 20px;
}

.examples {
  font-family: 'Raleway', italic;
  color: #FFFFFF;
  margin-top: 2vh;
  height: 1350px;
  background-color: #333333;
}

.examples .examples__content {
  padding: 3.2rem;
}

.examples .examples__content .examples__content-title {
  text-align: center;
  padding: 2rem 0 0 1.5rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.examples .examples__content .examples__content-text {
  padding: 2.725rem 2.725rem 0 2.725rem;
}

.examples .examples__content .examples__content-spacing {
  position: absolute;
  right: 60px;
}

.examples .examples__content a {
  background-color: #87DE87;
  padding: 20px 55px 20px 55px;
  border-radius: 10px;
  color: #333333;
  font-weight: bold;
}

.examples .examples__content .button {
  padding-top: 600px;
  text-align: center;
}

.contact-form {
  height: 200px;
  padding: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form .contact-form__content {
  max-width: 700px;
  line-height: 1.3rem;
}

.contact-form h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333333;
  font-weight: 700;
}

.contact-form p {
  font-size: 1.08rem;
  font-weight: 500;
  padding: 2rem;
}

.contact-form input {
  height: 46px;
  width: 80%;
  background: #FEFEFE;
  border: 1px solid #FEFEFE;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.contact-form a {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  left: 945px;
  top: 2802px;
  background-color: #87DE87;
  color: #333333;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
}

.contact-form label {
  color: rgba(51, 51, 51, 0.7);
  top: 2810px;
  left: 495px;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.information {
  height: 350px;
  width: 100%;
  background-color: #87DE87;
}

.information a {
  color: #333333;
}

.information .navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 3.3rem;
  margin-left: 4rem;
  font-weight: 500;
  color: #333333;
  height: 52px;
  width: 120px;
}

.information .navbar__logo h1 {
  z-index: 100;
  margin: 150px 0 0 10px;
}

.information .navbar__logo .navbar__shadow {
  position: absolute;
  background-color: #FFFFFF;
  height: 58px;
  width: 200px;
  right: -73%;
  bottom: -100%;
}

.information .information__content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14vh;
  font-size: 1.2rem;
  gap: 5rem;
}

.information .information__content-flex .single-card {
  margin-left: 5rem;
}

.information .information__content-flex .single-card h1 {
  font-weight: 500;
  padding-bottom: 10px;
}

.information .information__content-flex .single-card h2 {
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 7px;
}

.information .information__content-flex .single-card li {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.information .information__content-flex .second-card {
  margin-left: 12rem;
}

.information .information__content-flex .second-card li {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.information .information__content-flex .second-card h2 {
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 7px;
}

.information .information__content-flex .second-card_icons {
  margin-left: 12rem;
}

.information .information__content-flex .second-card_icons .facebook-icon {
  padding: 15px;
  z-index: 4;
  position: absolute;
  right: 329px;
  bottom: -2447px;
}

.information .information__content-flex .second-card_icons .twitter-icon {
  padding: 15px;
  z-index: 4;
  position: absolute;
  right: 269px;
  bottom: -2447px;
}

.information .information__content-flex .second-card_icons .linkedin-icon {
  padding: 15px;
  z-index: 4;
  position: absolute;
  right: 207px;
  bottom: -2446px;
}

.information .information__content-flex .second-card_icons .youtube-icon {
  padding: 15px;
  z-index: 4;
  position: absolute;
  right: 150px;
  bottom: -2443px;
}

.information .information__content-flex .second-card_icons h2 {
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 7px;
}

.information .information__content-flex .second-card_icons .single-card__bg1 {
  position: absolute;
  margin-left: 0px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #333333;
  border-radius: 50px;
}

.information .information__content-flex .second-card_icons .single-card__bg2 {
  position: absolute;
  margin-left: 60px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #333333;
  border-radius: 50px;
}

.information .information__content-flex .second-card_icons .single-card__bg3 {
  position: absolute;
  margin-left: 120px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #333333;
  border-radius: 50px;
}

.information .information__content-flex .second-card_icons .single-card__bg4 {
  position: absolute;
  margin-left: 180px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #333333;
  border-radius: 50px;
}

.footer {
  font-size: 0.9rem;
  background-color: #333333;
  color: #FFFFFF;
  padding: 10px;
  font-weight: 400;
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__content p {
  margin-left: 75px;
}

.footer .footer__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-right: 65px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  gap: 2rem;
}

.card .card-text {
  font-size: 0.85rem;
  line-height: 1.125rem;
  min-width: 560px;
  font-weight: 300;
}

.card h1 {
  font-weight: 500;
  font-size: 1.9rem;
  padding-bottom: 1rem;
}

.card img {
  max-width: 600px;
  height: 400px;
  border-right: 25px solid #87DE87;
}

.card .card-image {
  border: none;
  border-left: 25px solid #87DE87;
}
/*# sourceMappingURL=main.css.map */